.blogPosts {
    article {
        .date{
            font-size: 16px;
            font-weight: 200;
        }
        h2{
            font-size: 27px;
            font-weight: normal;

            a{
                color: black;
            }
        }
        p{
          font-size: 20px;
          font-weight: 200;
        }
        .btn {
            float: left;
            clear: both;
        }

        + hr {
            border: 0px!important;
            height: 1px!important;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);
            margin: 2rem 0;
        }
    }
    #page_sidebar {
        .widget {
            list-style-type: none;
        }
        .widget_categories {
            ul {
                padding-left: 1.25rem;
            }
        }
    }
    .nav-previous, .nav-next {
        a {
            background: $white-text;
            color: $secondary-color;
            padding: 15px 40px 15px 40px;
            font-weight: 300;
            border: 1px solid $secondary-color;
            border-radius: 0;
            text-transform: uppercase;
            transition: all .2s ease-in-out;

            &:hover {
                background: $secondary-color;
                color: $white-text;
                text-decoration: none;
                transition: all .2s ease-in-out;
            }
        }
    }
}
.single {
    #page_sidebar {
        .widget {
            list-style-type: none;
        }
        .widget_categories {
            ul {
                padding-left: 1.25rem;
            }
        }
    }
    #postThumbnail {
        margin-bottom: 30px;
    }
}
.articlespacing {
    padding: 25px 0px;
}
